body {
    width: 50rem;
    zoom: 85%;
    font-family: "Roboto", Arial;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 1rem 0;
}

li {
    padding: 0.25rem;
}

li:nth-child(odd) {
    background: #80808030;
}

li:nth-child(even) {
    background: #ffffff;
}

form, input, textarea {
    padding: 5;
}

.card {
    border-radius: 5px;
    color: #7450b9;
    display: inline-block;
    margin-top: 10px;
    margin-down: 10px;
    position: relative;
    width: 100%;
}

.card-title {
    font-weight: 600;
}

.card-title:before {
    content: "•"; 
    color: red;
    display: inline-block; 
    width: 1em;
    margin-left: -1em
    font-size: 1.1em;
}

.card-sub {
  color: #8c8c8c;
  font-size: 0.9em;
  letter-spacing: 1px;
}

.card-text {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}

.button-danger {
  background-color: red;
  border-color: white;
}